.bodyIndex{
    background-color: #b6b7c4;
}
.alert-alert-danger{
    margin-left: 10mm;
    margin-right: 10mm;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin-left: 10mm;
    padding: 40px 0;
    display:flex;
    gap:100px; 
}
.card{
    background-color: #81d4e9;
    margin-left: 10mm;
    margin-top: 15mm;
    margin-block-end: 30mm;
}
.table-info{
    text-align: center;
}